#sidebar {
   height: 100vh;
   position: fixed;
   left: 0;
   top: 0;
}
#sidebar .btn.header-btn {
   border-color: rgb(0 132 255 / 93%);
}
#sidebar ul#main-options button:disabled {
   background-color: transparent;
   border: none;
}
#sidebar ul#main-options .main-opt > button {
   background-color: rgb(1, 1, 21);
}
#sidebar ul#main-options .main-opt .opt-collapse ul {
   border-left: 1px solid gray;
}