<h2>Delphi Screen Conversion Helper - v3</h2>

<br>
<h3>Delphi Objects</h3>
<h4>The list of objects this tool will recognize</h4>
<ul id="delphi-objects-list" class="d-flex flex-column flex-wrap">
   <li>TPanel</li>
   <li>TPageControl</li>
   <li>TTabSheet</li>
   <li>TScrollBox</li>
   <li>TGroupBox</li>
   <li>TDBGrid</li>
   <li>TMSDBGrid</li>
   <li>TStringGrid</li>
   <li>TComboBox</li>
   <li>TLabel</li>
   <li>TDBText</li>
   <li>TEdit</li>
   <li>TMaskEdit</li>
   <li>TDBEdit</li>
   <li>TDBMemo</li>
   <li>TMSDBEditNum</li>
   <li>TMSDBDateEdit</li>
   <li>TMSDBFind</li>
   <li>TMSEdit</li>
   <li>TMSEditFind</li>
   <li>TMSEditSel</li>
   <li><del>TMSFindIncZ</del></li>
   <li>TDBCheckBox</li>
   <li>TCheckBox</li>
   <li>TRadioButton</li>
   <li>TButton</li>
   <li>TBitBtn</li>
   <li>TSpeedButton</li>
   <li>TDBSpeedButton</li>
   <li>TMSButton</li>
   <li><del>TSplitter</del></li>
</ul>


<br>
<h3>Tool Usage</h3>
<ul id="tool-usage-steps">
   <li>Click "Add Files" and choose the .dfm and .pas files;</li>
   <li>Right click the file you want to convert;</li>
   <li>At this step, all automatic changes was done;</li>
   <li>Use the "Convert Viewer" to set the non-auto changes (objects order and width);</li>
   <li>When you want to get the modified/converted files, you can copy from file viewer or right click the file in sidebar and select "Download".</li>
</ul>