<ng-container *ngIf="originalFile || modifiedFile">
   
   <!-- changes viewer container -->
   <div class="changes-container h-100">

      <!-- original -->
      <ng-container *ngIf="originalFile">
         <div id="original-file-container">
            <button type="menu" class="btn text-white col-12 text-start p-0" data-bs-toggle="collapse" data-bs-target="#original-file-collapse" aria-expanded="true">Original</button>

            <div id="original-file-collapse" class="col-12 mt-3 collapse show">
               <label for="original-file" class="w-100">
                  <textarea id="original-file" class="form-control w-100">{{ originalFile.content }}</textarea>
               </label>
            </div>
         </div>
      </ng-container>

      <!-- modified -->
      <ng-container *ngIf="modifiedFile">
         <div id="modified-file-container" class="mt-3">
            <button type="menu" class="btn text-white col-12 text-start p-0" data-bs-toggle="collapse" data-bs-target="#modified-file-collapse" aria-expanded="true">Modified</button>

            <div id="modified-file-collapse" class="col-12 mt-3 collapse show">
               <label for="modified-file" class="w-100">
                  <textarea id="modified-file" class="form-control w-100">{{ modifiedFile.content }}</textarea>
               </label>
            </div>
         </div>
      </ng-container>

   </div>
   
</ng-container>